# Common
.DS_Store
.env
.venv
venv/
env/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
backend/app/backups/*.db
test.db

# Node
node_modules/
dist/
.vite/
.vercel
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
